# Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
pyvenv.cfg
venv/
.env

# Ignore Python cache and venv at any depth
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/pyvenv.cfg
**/venv/
**/.env

# macOS files
.DS_Store
**/.DS_Store

# Project-specific ignores
**/.pytest_cache/
**/bin/
**/lib/
**/include/

# Model files
*.pkl
**/*.pkl
