__pycache__/
pyenv.cfg
src-container/__pycache__/
src-container/.pytest_cache/
src-container/venv/
venv/
.env
.DS_Store
src-container/bin
src-container/lib
src-container/include
src-container/bin/
src-container/lib/
src-container/include/